@model IEnumerable<BusTripInfo>

<h1 class="justify-content-center d-flex">Otobüs Seferleri</h1>

<div class="row">
    <div class="col-12 col-md-8">

        @if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success" id="success_message">
                @ViewBag.SuccessMessage
            </div>
        }
        <h5>Bu sayfada geçmiş tarihli etkinlikler görüntülenmez.</h5>
        <table id="tableBusTrip" class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Kalkış</th>
                    <th>Varış</th>
                    <th>Tarih</th>
                    <th>Marka</th>
                    <th>Model</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var busTrip in Model)
                {
                    <tr>
                        <td>@busTrip.Id</td>
                        <td>@busTrip.DepartureName</td>
                        <td>@busTrip.ArrivalName</td>
                        <td>@busTrip.Date</td>
                        <td>@busTrip.VehicleMakeName</td>
                        <td>@busTrip.VehicleModelName</td>
                        <td>
                            <a asp-controller="BusTrip" asp-action="Update" asp-route-id="@busTrip.Id" class="btn btn-outline-danger">Düzenle</a>
                        </td>
                        <td>
                            <a asp-controller="BusTrip" asp-action="Delete" asp-route-id="@busTrip.Id" class="btn btn-outline-danger">Sil</a>
                        </td>
                        <td>
                            <a asp-controller="Ticket" asp-action="TicketsOfBusTrip" asp-route-busTripId="@busTrip.Id" class="btn btn-danger">Bilet Oluştur</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="text-end mb-2">
    <a asp-controller="BusTrip" asp-action="Create" class="btn btn-primary btn-sm">Yeni Sefer Oluştur</a>
</div>

@section Scripts{



    <script>
        let successMessage = $('#success_message');

        if (successMessage.length) {
            setTimeout(function () {
                successMessage.hide();
            }, 3000);
        }
    </script>
    <script>
        $('#tableBusTrip').DataTable()
    </script>

}