@model BusTripDetails

<h1>
    @Model.BusTripName
</h1>
<h4>
    @Model.VehicleInfo
</h4>

<style>
    .bus-seat {
        width: 50px;
        height: 50px;
        display: inline-block;
        margin: 0 15px 15px 0;
        border: 1px solid #222;
        text-align: center;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        cursor: pointer;
    }
</style>

<div class="row mt-3">
    <div class="col-6 col-lg-5">

        @for (int i = 0; i < Model.SeatCount; i += 4)
        {
            for (int seatNumber = i + 1; seatNumber <= i + 4; seatNumber++)
            {
                if (seatNumber <= Model.SeatCount)
                {
                    <div class="bus-seat" data-seat-number="@seatNumber">@seatNumber</div>
                }

                if (seatNumber % 2 == 0 && seatNumber % 4 != 0)
                {
                    <div class="d-inline-block" style="width: 20px;"></div>
                }
            }
            <br />
        }

    </div>
    <div class="col-6 col-lg-7">

        <form id="ticket_form">
            <input type="hidden" name="BusTripId" value="@Model.BusTripId" />

            <div class="mb-2">
                <label class="form-label">Koltuk Numarası</label>
                <input class="form-control" type="text" id="seat_number" name="SeatNumber" readonly />
            </div>

            <div class="mb-2">
                <label class="form-label">Yolcu Adı</label>
                <input class="form-control" name="PassengerFirstName" type="text" />
            </div>

            <div class="mb-2">
                <label class="form-label">Yolcu Soyadı</label>
                <input class="form-control" name="PassengerLastName" type="text" />
            </div>

            <div class="mb-2">
                <label class="form-label">TC Kimlik</label>
                <input class="form-control" name="PassengerIdentityNumber" type="number" />
            </div>

            <div class="mb-2">
                <label class="form-label">Ücret</label>
                <input type="hidden" id="ticket_original_price" value="@Model.TicketPrice" />
                <input class="form-control" type="number" name="Price" id="ticket_price" value="@Model.TicketPrice.ToString("N2")" readonly />
                <label>
                    <input type="checkbox" id="is_student_ticket" />
                    Öğrenci Bileti
                </label>
            </div>

            <div class="text-end">
                <button class="btn btn-dark">
                    Bileti Kaydet
                </button>
            </div>
        </form>

    </div>
</div>

@section Scripts {
    <script>

        $('div.bus-seat').click(function () {
            console.log(this.dataset.seatNumber);
            $('#seat_number').val(this.dataset.seatNumber);
        });

        $('#is_student_ticket').click(function () {
            let ticketPrice = $('#ticket_price').val();
            ticketPrice = parseFloat(ticketPrice);

            let originalPrice = $('#ticket_original_price').val();
            originalPrice = parseFloat(originalPrice);

            if (this.checked) {
                ticketPrice = originalPrice * 0.75;
            }
            else {
                ticketPrice = originalPrice;
            }

            $('#ticket_price').val(ticketPrice.toFixed(2));
        });

        $('#ticket_form').submit(function (e) {
            e.preventDefault();

            $.ajax({
                url: '@Url.Action("Create", "Ticket")',
                method: 'post',
                data: $(this).serialize(),
                success: function (commandResult) {
                    alert(commandResult.message);
                }
            });
        });


    </script>
}